#root {
  /* max-width: 1280px; */
  width: 100%;
  /* height: 90vh; */
  /* margin: 0 auto; */
  /* padding: 1rem; */
  height: auto;
  margin: 0;
  padding: 0;
  /* text-align: center;  */
  /* border: 2px;
  border-style: solid;
  border-color: aliceblue; */
  /* display: table; */
}

.dropdown {
  margin-top: 10px;
  width: 45%;
  /* position: absolute; */
  float: left;

}

.dialogue-box {
  margin-top: 10px;
  width: 45%;
  height: 60vh;
  float: right;
  /* margin-right: auto; */
}

.projectTitle {
  /* border: 2px;
  border-style: solid;
  border-color: aliceblue;  */
  text-align: center;
}

.submitButton {
  position: absolute;
  bottom: 30px;
}

/* .App {
  border: 2px;
  border-style: solid;
  border-color: aliceblue;
} */

.file-upload {
  margin-top: 10px;  
  width: 45%;        
  float: left;       
}